.header {
    background-color: blue;
    padding-bottom: 10px;
    padding-top:20px;
  }
  
.header  Container > Row > Col > h1 {
    color:aliceblue;
}
  
.header > Link{
    color:aliceblue;
}

.nav-link{
    color:white
}

.nav-link:hover{
    color: pink;
}